<div class="signup-container">
    <mat-card class="main">
        <mat-card-title class="text-center mb-4">Tela de Login de Loja Virtual</mat-card-title>
        <form class="form-signup" (ngSubmit)="onSubmit()" [formGroup]="signupForm">

            <mat-form-field class="w-100">
                <mat-label>Nome Completo</mat-label>
                <input matInput [formControl]="nameFormControl" placeholder="Ex. Fulado de Tal" type="text">
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Nome é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100 mt-2">
                <mat-label>Email</mat-label>
                <input matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Por favor insira um email válido
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100 mt-2">
                <mat-label>Senha</mat-label>
                <input matInput [formControl]="passwordFormControl" placeholder="Ex. mypass13" type="password">
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Senha é <strong>obrigatória</strong>
                </mat-error>
                <mat-error *ngIf="!passwordFormControl.hasError('required')">
                    A senha deve ter no minimo 8 caracteres.
                </mat-error>
            </mat-form-field>

            <button mat-raised-button class="w-50 m-2 mb-3" color="primary" type="submit">Fazer cadastro</button>
        </form>

        <div class="divisor-register">
            <p class="divisor">
                <span class="divisor-text">ou</span></p>
            <button mat-raised-button class="button-login w-50 mt-2" type="button">Entrar</button>
        </div>

    </mat-card>
</div>
<app-loader *ngIf="loader"></app-loader>>