.signup-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #59b7b7;
  background-size: auto;

  .main {
    text-align: center;
    width: 640px;
    padding: 40px;
    margin: 20px;

    .title {
      margin-bottom: 20px;
    }

    .form-signup {
      .input {
        width: 100%;
        margin-top: 10px;
      }
      min-width: 150px;
      max-width: 400px;
      width: 100%;
      margin: auto;
      text-align: center;
    }
    .button {
      width: 200px;
      margin: 5px;
    }
    .divisor-register {
      min-width: 150px;
      max-width: 400px;
      width: 100%;
      margin: auto;
      text-align: center;
      .hr-text {
        line-height: 1em;
        position: relative;
        outline: 0;
        border: 0;
        color: black;
        text-align: center;
        height: 1.5em;
        opacity: 0.5;
        &:before {
          content: "";
          background: linear-gradient(
            to right,
            transparent,
            #333331,
            transparent
          );
          position: absolute;
          left: 0;
          top: 50%;
          width: 100%;
          height: 1px;
        }
        &:after {
          content: attr(data-content);
          position: relative;
          display: inline-block;
          color: black;

          padding: 0 0.5em;
          line-height: 1.5em;
          background-color: #fcfcfa;
        }
      }
      .button-login {
        background-color: rgb(207, 207, 207);
      }
    }
  }
}
