<div class="signup-container">
    <mat-card class="main">
        <mat-card-title class="title">Cadastro de Usuário em Minha Loja</mat-card-title>
        <form class="form-signup" (ngSubmit)="onSubmit()" [formGroup]="signupForm">

            <mat-form-field class="input">
                <mat-label>Nome Completo</mat-label>
                <input matInput [formControl]="nameFormControl" placeholder="Ex. Fulado de Tal" type="text">
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Nome é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Email</mat-label>
                <input matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Por favor insira um email válido
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Senha</mat-label>
                <input matInput [formControl]="passwordFormControl" placeholder="Ex. mypass13" type="password">
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Senha é <strong>obrigatória</strong>
                </mat-error>
                <mat-error *ngIf="!passwordFormControl.hasError('required')">
                    A senha deve ter no minimo 8 caracteres.
                </mat-error>
            </mat-form-field>

            <button mat-raised-button class="button" color="primary" type="submit" [disabled]="!signupForm.valid">Fazer
                cadastro</button>
        </form>

        <div class="divisor-register">
            <hr class="hr-text" data-content="ou">
            <button mat-raised-button class="button button-login" type="button" (click)="goToLogin()">Entrar</button>
        </div>

    </mat-card>
</div>
<app-loader *ngIf="loader"></app-loader>