<div class="login-container">
    <mat-card class="main">
        <mat-card-title class="title">Login de Administrador Minha Loja</mat-card-title>
        <form class="form-login" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <mat-form-field class="input">
                <mat-label>Email</mat-label>
                <input matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Por favor insira um email válido
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Senha</mat-label>
                <input matInput [formControl]="passwordFormControl" placeholder="Ex. mypass13" type="password">
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Senha é <strong>obrigatória</strong>
                </mat-error>
                <mat-error *ngIf="!passwordFormControl.hasError('required')">
                    A senha deve ter no minimo 8 caracteres.
                </mat-error>
            </mat-form-field>
            <button mat-raised-button class="button" color="primary" type="submit"
                [disabled]="!loginForm.valid">Entrar</button>

            <button mat-flat-button class="button" type="button" (click)="goToForgot()">Esqueceu sua senha?</button>
        </form>

    </mat-card>
</div>
<app-loader *ngIf="loader"></app-loader>