.login-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #59b7b7;
  background-size: auto;

  .main {
    text-align: center;
    width: 640px;
    padding: 40px;
    margin: 20px;

    .title {
      margin-bottom: 20px;
    }

    .form-login {
      .input {
        width: 100%;
        margin-top: 10px;
      }
      min-width: 120px;
      max-width: 400px;
      width: 100%;
      margin: auto;
      text-align: center;
    }
    .button {
      width: 200px;
      margin: 5px;
    }
  }
}
