.recovery-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #59b7b7;
  background-size: auto;

  .main {
    width: 640px;
    padding: 40px;
    margin: 20px;

    .form-recovery {
      min-width: 120px;
      max-width: 400px;
      width: 100%;
      margin: auto;
      text-align: center;
    }
  }
}
